In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([["a","b"],["c","d"]],index=["row1","row2"],columns=["col1","col2"])
df

     col1 col2
row1    a    b
row2    c    d

In [5]:
#Formas de formatear un JSON mediante el parámetro orient del método df.to_json(), que en función de sus valores formateará
#los datos de una forma u otra:
# split , columns, records, 
#orient='split'; tipo diccionario {columns -> [comlumns], indice -> [index], data-> [values] }
json_string1=df.to_json(orient="split")
json_string1

'{"columns":["col1","col2"],"index":["row1","row2"],"data":[["a","b"],["c","d"]]}'

In [6]:
#orient="records" -- resultado tipo lista [{"col1:"a","col2":"b"},{"col1":"c","col2":"d"}]
#Formatea el diccionario en forma de lista, es un alista con elementos que son diccionarios
json_string2=df.to_json(orient="records")
json_string2

'[{"col1":"a","col2":"b"},{"col1":"c","col2":"d"}]'

In [7]:
#Cargar Json en estructura de pandas mediante método pd.read_json()
pd.read_json(json_string1, orient="records")

  columns index    data
0    col1  row1  [a, b]
1    col2  row2  [c, d]

In [8]:
#Devolver el DF al formato original, el primer parámetro no hace falta porner nombre porque también es el primero en la definición del método
pd.read_json(json_string1, orient="split")

     col1 col2
row1    a    b
row2    c    d

In [9]:
#DF al formato columns
pd.read_json(json_string1, orient="columns")

  columns index    data
0    col1  row1  [a, b]
1    col2  row2  [c, d]

In [10]:
#DF al formato index (parece que lo hace la transpuesta)
pd.read_json(json_string1, orient="index")

              0       1
columns    col1    col2
index      row1    row2
data     [a, b]  [c, d]

In [11]:
#DF al formato values (parece que lo hace la transpuesta)
pd.read_json(json_string1, orient="values")

  columns index    data
0    col1  row1  [a, b]
1    col2  row2  [c, d]