#### Cargar librería
Primero debe tenerse instalada la librería
mediante palabra reservada import nombre_librería [as alias]

In [7]:
import numpy as np
import pandas as pd

from sklearn import * # forma alternativa para importar la biblioteca entera con los nombres que venga dados

In [6]:
np.linspace(1,10,10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [11]:
array = np.array([[2,3],[5,4],[6,4],[1,7]])
print (array)

[[2 3]
 [5 4]
 [6 4]
 [1 7]]

In [14]:
lista_valores=["Manzanas", "Cerezas", "Platanos"]
serie1 = pd.Series(data=lista_valores,index=None)
serie1

0    Manzanas
1     Cerezas
2    Platanos
dtype: object

In [15]:
serie2 = pd.Series(data=lista_valores,index=["fruta1","fruta2","fruta3"])
serie2

fruta1    Manzanas
fruta2     Cerezas
fruta3    Platanos
dtype: object

In [16]:
pd.Series(data={"valor1":1,"valor2":2,"valor3":3})

valor1    1
valor2    2
valor3    3
dtype: int64

In [18]:
productos = pd.Series(["Manzanas", "Cerezas", "Platanos"])
precios = pd.Series([0.99,2.95,0.79])
print(productos)
print(precios)

0    Manzanas
1     Cerezas
2    Platanos
dtype: object
0    0.99
1    2.95
2    0.79
dtype: float64

In [22]:
df_frutas = pd.DataFrame({"Producto": productos, "Precio":precios})

In [23]:
df_frutas.columns

Index(['Producto', 'Precio'], dtype='object')

In [25]:

df_frutas.values

array([['Manzanas', 0.99],
       ['Cerezas', 2.95],
       ['Platanos', 0.79]], dtype=object)

In [26]:
df_frutas.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
df_frutas.shape

(3, 2)

In [30]:
df_a=pd.DataFrame({"Producto":["Producto1","Producto3","Producto2"], "Columna2":[1,3,4]})

In [31]:
df_a.dtypes

Producto    object
Columna2     int64
dtype: object

In [33]:
df = pd.DataFrame(
{"Columna1" : pd.Timestamp(20200922),
"Columna2" : pd.Series(10, index=list(range(6)),dtype="float32"),
 "Columna3" : 5.,
 "Columna4" : pd.Categorical(["Valor1","Valor2","Valor3","Valor4","Valor5","Valor6"]),
 "Columna5" : "Valor constante",
 "Columna6" : np.array([2]*6, dtype="int32")
}
)
df

,Columna1,Columna2,Columna3,Columna4,Columna5,Columna6
0,1970-01-01 00:00:00.020200922,10.0,5.0,Valor1,Valor constante,2
1,1970-01-01 00:00:00.020200922,10.0,5.0,Valor2,Valor constante,2
2,1970-01-01 00:00:00.020200922,10.0,5.0,Valor3,Valor constante,2
3,1970-01-01 00:00:00.020200922,10.0,5.0,Valor4,Valor constante,2
4,1970-01-01 00:00:00.020200922,10.0,5.0,Valor5,Valor constante,2
5,1970-01-01 00:00:00.020200922,10.0,5.0,Valor6,Valor constante,2

In [34]:
df.dtypes

Columna1    datetime64[ns]
Columna2           float32
Columna3           float64
Columna4          category
Columna5            object
Columna6             int32
dtype: object